{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}ToDo App{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'home/styles.css' %}">
    </head>
    <body>
        <header>
            <h1>To Do App</h1>
            <nav>
                <ul>
                    <li>Today</a></li>
                    <li>All</a></li>
                    <li>Flagged</a></li>
                    <li>Completed</a></li>
                    <li>Profile</a></li>
                </ul>
            </nav>
        </header>

        <main>
            {% block body %}
            {% endblock %}
        </main>

        <footer>
            <p>&copy; 2023 ToDo App</p>
        </footer>
    </body>
</html>